PORT="YOUR PORT HERE"
DATABASE_URL="YOUR DATABASE_URL HERE"
NODE_ENV="YOUR NODE ENV HERE"
JWT_ACCESS_SECRET="YOUR JWT ACCESS SECRET HERE"
JWT_ACCESS_EXPIRES_IN="YOUR JWT ACCESS EXPIRES HERE"
JWT_REFRESH_SECRET="YOUR JWT REFRESH SECRET HERE"
JWT_REFRESH_EXPIRES_IN="YOUR JWT REFRESH EXPIRES HERE"
APP_URL="YOUR APP URL HERE"
BCRYPT_SALT_ROUND="YOUR BCRYPT SALT ROUND HERE"